//not-yet-used
.new-detail__date {
  outline: 1px solid red;
  padding: 30px;
}

.new-detail__title {
  outline: 1px solid orange;
  padding: 30px;
}

.new-detail__image {
  outline: 1px solid yellow;
  padding: 30px;
}

.new-detail__description {
  outline: 1px solid green;
  padding: 30px;
}
