@import '../../assets/style/setting';

.footer {
  background-color: #292929;
  padding: 78px 0 98px;
  text-align: left;
  position: relative;
}

.footer__info {
  color: white;
  padding: 38px 0 55px;

  p {
    font-size: 16px;
    font-weight: 900;
    line-height: 2;
  }
}

.footer__copyright {
  font-family: $font-montserrat;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1em;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #101010;
  color: white;
  padding: 32px;
  text-align: center;
  width: 100%;
}
